
	body{
		background-color: #F4F4F4;
	}

	h1{
		margin: 0;
		padding: 0;
		text-align: center;
		color: #007849;
		font-family: Courgette;
	}

	h2{
		text-align: center;
	}

	p{
		border: 2px solid;
	}

	p.one{
		margin: 30px;
	}

	p.two{
		margin: 20px 30px;
	}

	p.three{
		margin: 25px 30px 40px;
	}

	p.four{
		margin: 15px 25px 0px 30px; 
	}