
	body{
		background-color: #D5D5D5;
	}

	h1{
		padding: 0;
		margin: 0;
		font-family: Acme;
		text-align: center;
		color: #813772;
	}

	p.top{
		margin-top: 50px;
	}

	p{
		border: 2px solid;
	}