
	body{
		background-color: #F8EEE7;
	}

	h1{
		padding: 0;
		margin: 0;
		text-align: center;
		color: #1E392A;
		font-family: Righteous; 
	}

	p{
		border: 2px solid;
	}

	p.right{
		margin-right: 100px;
	}